.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#list-lable-and-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-contact-link{
    margin-left: 30px;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #282c34;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 50px;
}

#add-contact-link:hover{
    background-color: white;
    color: #282c34;
}

#new-contact-form{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#new-contact-form input{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 50%;
    height: 4vh;
    font-size: 20px;
}

#new-contact-form button{
    height: 4vh;
    margin-top: 20px;
    width: 50%;
    font-size: 20px;
}

#new-contact-form label{
    font-size: 20px;
}

#main-divider{
   width: 50%;
   margin-top: 10px;
   margin-bottom: 10px;
   height: 1px;
   background-color: #282c34;
}

#search-contacts{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
    height: 4vh;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

table {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1em;
}
 
th {
    border-bottom: 1px solid black;
}

table tr {
    border-bottom: 1px solid black;
}
 
td {
    text-align: left;
}

tr.border-bottom {
    border-bottom: 1px solid black;
}

svg{
    cursor: pointer;
}

.App-link {
  color: #61dafb;
}

main{
   min-height: 73vh;
}

footer{
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
